/* Variabless */
:root {
  /* Fonts */
  --main-font: Montserrat, sans-serif;
  /* text colors */
  --main-color: rgb(17, 17, 17);
  --main-color-70: rgba(17, 17, 17, 0.7);
  --light-color: #ffffff;
  --light-color-70: rgba(255, 255, 255, 0.7);
  --accent-color: #fd9222;
  /* background color */
  --light-bg-color: #fafafa;
  --dark-bg-color: #1e1823;
}
/* Base styles */
body {
  font-family: var(--main-font);
  color: var(--main-color);
  background-color: var(--light-bg-color);
}
a {
  text-decoration: none;
  color: currentColor;
}
ul {
  list-style: none;
}
.btn {
  color: var(--light-color);
  font-size: 14px;
  font-family: inherit;
  font-weight: 600;
  background-color: transparent;
}
.btn-accent {
  background-color: var(--accent-color);
}

/* Header */
.header {
}
.header-nav {
}
.header-logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.header-logo-italic {
  font-style: italic;
}
.header-logo-image {
}
.header-list {
}
.header-item {
}
.header-item-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -0.02em;
}
.header-socials {
}
.socials {
}
.socials-item {
}
.socials-link {
}
.socials-icon {
}

/* Hero section */

.hero {
  background-color: var(--main-color-70);
}
.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--light-color);
}
.hero-btn {
}

/* Benefits section */
.benefits {
  background-color: var(--dark-bg-color);
}
.benefits-list {
}
.benefits-item {
}
.benefits-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--light-color);
}
.benefits-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--light-color-70);
}

/* Ingridients Section */

.ingridients {
}
.ingridients-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.ingridients-title-accent {
  color: var(--accent-color);
}
.ingridients-list {
}
.ingridients-item {
  background-color: var(--light-color);

  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.ingridients-item-accent {
  background-color: var(--accent-color);
  color: var(--light-color);
}

.ingridients-item-dark {
  background-color: var(--dark-bg-color);
  color: var(--light-color);
}

.ingridients-img {
}
.ingridients-subtitle {
}
